<div class="container mt-3">
  <!-- Page Name -->
  <div style="width: 100vw; height: 20vh" class="container d-flex">
    <div class="container d-flex">
      <h3 class="m-1 p-2">Page Name:</h3>
      <h3 class="m-1 fs-1 text-success">Phone Book</h3>
    </div>
    <div>
      <p>Created by</p>
      <h5 class="mb-0">POOJA</h5>
    </div>
  </div>

  <div
    class="my-2"
    style="height: 2px; width: 90vw; background-color: rgb(232, 117, 225)"
  ></div>

  <!-- About the Page -->
  <div class="my-5">
    <h3>About the Project:</h3><br>
    <p class="container">
      Develop a Phone Book Valiation page. The page aims to provide the
      customers to enter the Name, Phone Number and Email.
    </p>
  </div>

  <div
    class="my-5"
    style="height: 2px; width: 90vw; background-color: rgb(232, 117, 225)"
  ></div>

  <!-- Page"s Input Fields -->
  <div class="my-5">
    <h3>Input Fields:</h3><br>
    <p class="container">
      In this page there are three input options. They are: Name, Phone Number
      and Email.
    </p>
  </div>

  <div
    class="my-5"
    style="height: 2px; width: 90vw; background-color: rgb(232, 117, 225)"
  ></div>

  <!-- Page's Output Fields -->
  <div class="my-5">
    <h3>Output Fields:</h3><br>
    <p class="container">It reflects the output in the same page.</p>
  </div>

  <div
    class="my-5"
    style="height: 2px; width: 90vw; background-color: rgb(232, 117, 225)"
  ></div>

  <!-- Page's Edit Button -->
  <div class="my-5">
    <h3>Edit Button:</h3><br>
    <p class="container">
      While chicking the edit button it reflects all the given input fields and
      we can edit as per our needs.
    </p>
  </div>

  <div
    class="my-5"
    style="height: 2px; width: 90vw; background-color: rgb(232, 117, 225)"
  ></div>

  <!-- Page's Delete Button -->
  <div class="my-5">
    <h3>Delete Button:</h3><br>
    <p class="container">
      While chicking the delete button it deletes all the given input in such row and others remains the same.
    </p>
  </div>

  <div
    class="my-5"
    style="height: 2px; width: 90vw; background-color: rgb(232, 117, 225)"
  ></div>

    <!-- Accept User Details -->
    <div class="container mb-5">
        </div>
        <button class="my-2 btn btn-success" (click)="getStarted()">
          Go To Phone Book 
        </button>
</div>